@import "tailwindcss";

@theme {
  --color-brand-orange: #CC785C;
  --color-brand-green: #7C8B60;
  --color-brand-blue: #7797BA;
  /* ... */
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #CC785C;
}

body {
  background-color: #FAF9F5;
  min-height: 100vh;
  min-width: 320px;
}

h1 {
  line-height: 1.1;
}

.solid-button {
  border-radius: 8px;
  color: white;
  background-color: black;
  padding: 0.4em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.outlined-button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.4em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #CC785C;
  color: #CC785C;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
